<%- include('../partials/header') %>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.learned ? 'Learned' : 'Not Learned' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skills</a>
    <%- include('../partials/footer') %>